<main>
  <div id="signup-container">
    <h2>Create Account</h2>
    <br />
    <form action="/signup" method="POST">
      <input name="username" type="text" placeholder="Username" />
      <br />
      <input name="email" type="text" placeholder="Email" />
      <br />
      <input name="password" type="password" placeholder="Create Password" />
      <br />
      <div id="business-check">
        <label for="business">Business Account</label>
        <input type="checkbox" id="business" name="isBusiness" value="true" />
      </div>
      <br />
      <button type="submit">Sign Up</button>
    </form>
    {{#if msg}}
    <div class="error">{{ msg }}</div>
    {{/if}}
  </div>
</main>
