@import "../variables.scss";

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/ski1.jpg);
  background-position: right 35% bottom 45%;
}
#signin-container {
  h2 {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  min-width: 360px;
  color: $color-primary;
  text-align: center;
  padding: 45px 75px;
  height: auto;
  background-color: rgba(243, 243, 243, 0.8);
  form {
    display: flex;
    flex-direction: column;
    input {
      font-size: 1.5em;
      height: 15px;
      padding: 15px 15px;
    }
    button {
      @include button-link;
    }
    #signup-link {
      @include button-link;
    }
  }
}
.error {
  color: red;
  font-weight: bold;
}
