<h2>Welcome to {{this.name}}</h2>

<h3>{{this.name}} in a nutshell</h3>
<p>bla bla bla</p>

<img src="/images/ski2.jpg" alt="ski">


<img src="/images/ski3.jpg" alt="ski">

<h2>Book your memories</h2>
<img src="/images/ski5.jpg" alt="ski">



