<h2>Create new location</h2>

<form action="/user/locations/create" method="POST">
  <label>Name</label>
  <input name="name" type="text" placeholder="Enter the name of the location">
  <br>
  <label>Country</label>
  <input name="location" type="text" placeholder="Enter the name of the country">
  <br>
  <button type="submit">Add location</button>
</form>