<header>
  <h1>Find your next Skiing Getaway</h1>
  <form action="/locations" method="GET">
    <label for="country">Choose country: </label>
    <select name="country" id="country">
      {{#each uniques}}
      <option value="{{ this }}">{{ this }}</option>
      {{/each}}
    </select>
    <button type="submit">Lets Snow!</button>
  </form>
</header>
<main>
  <section class="location-preview">
    <img src="/public/images/resort-1.jpg" alt="" />
  </section>
  <section class="location-preview"></section>
  <section class="location-preview"></section>
  <section id="call-to-action"></section>
</main>
