<header>
  <h2>Welcome to your business account</h2>

  <h4>Here you can view, add and edit your locations</h4>

  <a href="/user/locations"
    ><button class="btn-business" type="button">Manage your locations</button></a
  >
  <br>
  <a href="/user/locations/create"
    ><button class="btn-business" type="button">Add a new location</button></a
  >
  <h3>Your business analytics report is coming soon</h3>

</header>
