<h2>Create new location</h2>

<form action="/user/locations/create" method="POST" enctype="multipart/form-data">
<<<<<<< HEAD
<<<<<<< HEAD:views/user/user-locations-create.hbs
  <label>Name</label>
  <input name="name" type="text" placeholder="Enter the name of the location" />
  <br />
=======
  <label>Ski Resort name</label>
  <input name="name" type="text" placeholder="Enter the name of the location">
  <br>
>>>>>>> 72783486ad67a3757b0c9659a3430ac6d819305d:views/locations/locations-create.hbs
=======
  <label>Name</label>
  <input name="name" type="text" placeholder="Enter the name of the location" />
  <br />
>>>>>>> d5e1c6de621ee4a2cd6e937c3e9de5f3490214a0
  <label>Country</label>
<<<<<<< HEAD:views/user/user-locations-create.hbs
  <input
    name="location"
    type="text"
    placeholder="Enter the name of the country"
  />
  <br />
=======
  <input name="location" type="text" placeholder="Enter the name of the country">
  <br>
  <label>Description</label>
  <input name="description" type="text" placeholder="Enter the description of the location">
  <br>
  <label>Website</label>
  <input name="website" type="url" placeholder="Enter the website of the location">
  <br>
  <label for="image">Add some pictures of your amazing ski resort</label>
  <br>
  <input type="file" name="imageUrl" accept="image/png, image/jpg">
  <br>
  <input type="file" name="imageUrl" accept="image/png, image/jpg">
  <br>
  <input type="file" name="imageUrl" accept="image/png, image/jpg">
  <br>
  <input type="file" name="imageUrl" accept="image/png, image/jpg">
  <br>
<<<<<<< HEAD
<<<<<<< HEAD:views/user/user-locations-create.hbs
>>>>>>> 102c7945a78fe80d00dbe5fbd691e2704d8fe619:views/locations/locations-create.hbs
  <button type="submit">Add location</button>
</form>
=======
  <button type="submit">Create the location</button>
</form>
>>>>>>> 72783486ad67a3757b0c9659a3430ac6d819305d:views/locations/locations-create.hbs
=======
<<<<<<< HEAD:views/locations/locations-create.hbs
  <button type="submit">Create the location</button>
</form>
=======
>>>>>>> 102c7945a78fe80d00dbe5fbd691e2704d8fe619:views/locations/locations-create.hbs
  <button type="submit">Add location</button>
</form>
>>>>>>> ba86c507b6220761ead54e13f8dcd5315bef6ec9:views/user/user-locations-create.hbs
>>>>>>> d5e1c6de621ee4a2cd6e937c3e9de5f3490214a0
