<header>
      <h2>Your locations</h2>
      <a href="/user/locations/create">Add a new location</a>
</header>

  {{#each locations}}
  <div class='location'>
    <p id="name">{{ this.name }}</p>
      <div id="buttons">
            <form action="locations/{{ this._id }}/edit" method="GET">
                  <button type="submit">Edit</button>
            </form>
            <form action="locations/{{ this._id }}/delete" method="POST">
                  <button type="submit">Delete</button>
            </form>
      </div>
  </div>

  {{/each}}
</main>
