<main>
  <div id="create-loc-container">
    <h2>Create new location</h2>
    <br />
    <form
      action="/user/locations/create"
      method="POST"
      enctype="multipart/form-data"
    >
      <label>Name</label>
      <input
        name="name"
        type="text"
        placeholder="Enter the name of the location"
      />
      <br />
      <label>Country</label>
      <input
        name="location"
        type="text"
        placeholder="Enter the name of the country"
      />
      <br />
      <label>Description</label>
      <textarea
        id="description"
        name="description"
        rows="1"
        cols="10"
        placeholder="Enter the description of the location"
      ></textarea>
      <br />
      <label>Website</label>
      <input
        name="website"
        type="url"
        placeholder="Enter the website of the location"
      />
      <br />
      <label for="image">Add some pictures of your amazing ski resort</label>
      <br />
      <input type="file" name="imageUrl" accept="image/png, image/jpg" />
      <br />
      <input type="file" name="imageUrl" accept="image/png, image/jpg" />
      <br />
      <input type="file" name="imageUrl" accept="image/png, image/jpg" />
      <br />
      <input type="file" name="imageUrl" accept="image/png, image/jpg" />
      <br />
      <button type="submit">Create the location</button>
    </form>
  </div>
</main>
