@import "../variables.scss";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/ski5.jpg);
  background-position: 50% 50%;
  height: 170px;
  padding: 130px 0;
  h2 {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    margin: 0;
    font-size: 3em;
  }
  a {
    @include button-link;
    margin-top: 15px;
    padding: 5px;
    border-radius: 0px;
  }
}
button {
  @include button-link;
  border: none;
  margin-right: 25px;
}
#buttons {
  display: flex;
}
form {
  margin-bottom: 20px;
}
.location {
  padding: $all-content-padding;
  background-color: white;
  color: $color-primary;
  width: auto;
  height: 300px;
  p {
    font-size: 1rem;
  }
}
#name {
  font-size: 1.5em;
}
