@import "../variables.scss";

header {
  @include header-style;
}
form {
  margin-bottom: 20px;
}
.location {
  padding: $all-content-padding;
  background-color: white;
  color: $color-primary;
  width: 100%;
  height: 300px;
  p {
    font-size: 2rem;
  }
}
