@import "../variables.scss";

header {
  h1 {
    width: auto;
    font-size: 4em;
    color: white;
    background-color: $color-primary;
    padding: 10px 20px;
  }
  height: 100vh;
  width: auto;
  padding: $all-content-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/ski3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  form {
    font-size: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    select {
      font-size: 0.5em;
    }
    button {
      border: none;
      border-radius: 15px;
      color: white;
      background-color: $color-primary;
      font-size: 0.5em;
      margin-top: 10px;
      flex-basis: 100%;
      height: 40px;
    }
  }
}

